generate_load_scripts: true
framework: auto-detect

group Main
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Core
    nuget Newtonsoft.Json

group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target

    nuget Expecto
    nuget Expecto.BenchmarkDotNet
    nuget Expecto.FsCheck
    nuget Expecto.Hopac

    nuget Microsoft.NET.Test.Sdk
    nuget YoloDev.Expecto.TestSdk
